.logo-name-travel{
    color: #77d020 !important;
}
.header-with-logo-name{
    color: rgb(38, 121, 160);
    font-size: 30px;
    font-family:cursive;
    font-weight: 600;
    text-align: center;
}
.main{
    background-color: rgb(251 249 247);
    min-height: 700px;
    width: 100%;
}
.row-2-ul{
    background-color: rgb(24 24 29);
}
.flex-column {
    top: 10px;
    padding-left: 1px;
}
.home-filter {
    display: block;
    font-size: 20px;
}
.home-filter-button{
    font-size: 20px;
    font-weight: 500;
}
.home-filter-button a{
    text-decoration: none;
    color: rgb(4 149 217);
    padding-left: 10px;
}
.home-filter-button a:hover{
    color: rgb(4 149 217);
}
.nav-row-2{
    background-color: rgb(24 24 29);
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    min-height: 800px;
    border-left: 1px solid rgb(220, 209, 209);
    border-right: 1px solid rgb(220, 209, 209);
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}
.icon-login-user{
    display: flex;
    font-size: 28px;
    margin-top: 30px;
}
.icon-name-login a{
    padding-right: 12px;
    text-decoration: none;
}
.login-form-header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(243 243 243);
}
.home-filter-user-login {
    display: flex;
    background-color: rgb(38, 121, 160);
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 155px;
    width: 100%;
    margin-top: 10px;
    min-height: 100%;
}
.heading-login {
    padding-bottom: 16px;
}
.heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.label.form-label {
    margin-top: 20px;
}
.form-label-name-login-admin {
    color: white !important;
    font-size: 20px;
}
.form-control{
    height: 38px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    outline: none;
    padding: 10px;
}
.form-control:hover {
    border-color: rgb(24, 104, 209);
}
.form-submit {
    background-color: #db2727;
    height: 38px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 14px ;
}
.form-label,
.form-mesage {
   text-align: left;
   font-size: 20px;
}
.form {
    width: 25%;
    min-height: 100px;
    background-color: rgb(61 53 53); 
    font-size: 25px;
    padding: 40px 20px;
    text-align: center;
    border: 3px solid rgb(61 53 53);
    margin: 30px;
    align-self: center;
    box-shadow: 0 10px 10px 0 rgba(51, 62, 73, 0.1);
}

.form-img-user img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    padding-top: 103px;
}
.logout-admin {
    text-align: center;
    align-items: center;
    padding-bottom: 16px;
}
.row.main-row.container-fluid {
    margin-left: -25px;
}
.logout-admin span {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
}
.logout-admin a{
    color: rgb(174, 131, 238);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.active { 
    color:rgb(193 0 222) !important
}
.logo-name-gas {
    color: #77d020 !important;
}
.col-10.nav-row-10 {
    margin-top: 35px;
    margin-left: 0px;
    padding-left: 38px;
}
.row.main-row.container-fluid {
    margin-left: -25px;
}
.product-list {
    margin-top: 12px;
    margin-right: -29px;
}
.product-list-name {
    font-size: 18px;
}
.table-list-product {
    line-height: 37px;
}
.search-option-infor-amdin {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.search-infor-amdin-form-room {
    padding-right: 10px;
    margin-top: -20px;
    margin-bottom: 12px;
}
.add-room {
    text-decoration: none;
    color: rgb(38, 121, 160);
    font-size: 20px;
    font-weight: 500;
    border: 1px solid rgb(147, 147, 156);
    padding: 7px;
    background-color: rgb(241, 241, 238);
    border-radius: 4px;
}
.header-with-search-form {
    position: relative;
    border-radius: 4px;
}
.header-with-search-input {
    outline: none;
    border: 1px solid #d0c8c8;
    border-radius: 4px;
    line-height: 14px;
    height: 43px;
    margin-right: -30px;
    padding: 8px 8px 8px 13px;
}
.infor-room {
    line-height: 75px;
}
tr.tr-name-table {
    text-align: center;
    line-height: 20px;
}
td.function-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90px;
}
.summit-add-room-button {
    border: none;
    background-color: white;
}
.infor-room{
    line-height: 75px;
}
.function-icon-delete{
    color: red;
}
.min-height-prodcuct{
    min-height: 234px;
}
.statistical-all{
    margin-right: -2px;
    padding: 13px;
    min-height: 90%;
    margin-top: 19px;
    font-size: 18px; 
}
.img-admin-chart {
    border: 3px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
.img-statistical-admin {
    border: 3px;
    border-radius: 3px;
    margin-top: -14px;
    margin: -13px;
    position: absolute;
    height: 207px;
    width: 100%;
    background-size: cover;
}
.img-statistical-product{
    filter: contrast(1.2) brightness(0.5) sepia(0.3) saturate(1.5) hue-rotate(-20deg);
}
.infor-statisticala-admin {
    position: relative;
}
.count-all{
    color: rgb(0, 242, 255);
    font-size: 23px;
}
.img-statistical-order{
    filter: contrast(1.2) brightness(0.5) sepia(0.8) saturate(2.1) hue-rotate(49deg);
}
.img-statistical-staff{    
    filter: contrast(0.8) brightness(0.8) sepia(0.3) saturate(2) hue-rotate(30deg);
}
.img-statistical-sell-products{
    filter: contrast(0.8) brightness(0.5) sepia(0.6) saturate(5) hue-rotate(240deg);
}
.img-statistical-total-products{
    filter: contrast(0.8) brightness(0.5) sepia(0.6) saturate(8) hue-rotate(118deg);
}
.list-loyal-customer{
    color: rgb(0, 0, 0);
}
.bg-total-product{
    background-color: #e57272!important
}
.center-total-product{
    text-align: center;
}
.add-room-each {
    margin-left: 20%;
    align-items: center;
}
.name-add-room-all{
    font-size: 20px;
    padding-right: 10px;
    color: rgb(38, 121, 160);
}
input.input-add-room.col-9,
input.input-add-room.col-8 {
    border: 1px solid rgb(207, 208, 210);
    outline: none;
    border-radius: 4px;
    height: 40px;
}
.room-type {
    display: flex;
    align-items: center;
}
.name-add-room-all-img{
    background-color: white;
    padding-top: 4px;
    padding-left: 4px !important;
}
.back-add-room {
    text-align: center;
    align-items: center;
    margin-top: 19px;  
    margin-left: 25%;
    
}
.back-rooms {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid rgb(147, 147, 156);
    border-radius: 4px;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 88px;
    background-color: rgb(38, 121, 160);
    color: rgb(245, 244, 244);
}
.back-rooms:hover{
    color: white;
}
.add-room{
    text-decoration: none;
    color: rgb(38, 121, 160);
    font-size: 20px;
    font-weight: 500;
    border: 1px solid rgb(147, 147, 156);
    padding: 7px;
    background-color: rgb(241, 241, 238);
    border-radius: 4px;
}
.add-roomo:hover{
    color: rgb(38, 121, 160) !important;
}
.button-add-room-save{
    background-color: rgb(160, 64, 38);
    color: rgb(245, 244, 244);
    padding: 4px 15px !important;
}
.button-add-room-save:hover{
    color: rgb(245, 244, 244) !important;
}
.invalid-feedback-room {
    margin-left: 165px;
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}
.hover-color {
    line-height: 40px;
}
.hover-color:hover{
    background-color: rgb(250, 247, 247);
}
.name-product-td {
    text-align: center;
}
.infor-product{
    line-height: 75px;
}
.image-admin-product-edit{
    border-radius: 10px;
    min-height: 90px;
    width: 77px !important;
    object-fit: contain;
}
.img-borde{
    border: 1px solid #e3e3e3;
    width: 100%;
}
.notification-search{
    color: red;
    position: absolute;
    top: 115px;
    right: 48px;
    animation: ease .3s, fadeout linear 5s 0.8s forwards;
}
@keyframes fadeout{
    to{
        opacity: 0;
    }
}
table#dataTable {
    margin-top: 20px;
}
.order-room-info {
    background-color: #73a11b;
    color: #070303;
    font-size: 18px;
}
.background-code-room{
    background-color: #73a11b;
}
.card.card-info-room-order {
    border: 1px solid 1px solid #cccccc;
    min-height: 244px;
}
button.status-check-in-room {
    text-align: center;
    margin-left: 26%;
    border-radius: 4px;
    font-size: 14px;
    line-height: 31px;
    border: 1px solid;
    margin-bottom: 10px;
    background-color: #31e60d;
}